@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, * {
    scroll-behavior: smooth;
}
